footer
    color: white
    font-family: playfair display

.search button
    
    top:9px
    right:10px
.listFooter
    a
        text-decoration: none
        color: white
.copy
    background: #27231D
