// WHY US 3 PARAGRAPHES
.section3
    background: #0B0B09
    
.colText
    background: #1a1814
    height: 15vw
    padding-top: 2%
    transition: background,color





// animation
.colText:hover
    background: #CDA45F
    .col .nbr 
        color: white

