.section2
    background: url(../../../public/img/about-bg.jpg)
    background-size: cover
    background-attachment: fixed
    position: relative
    color: white
    img
        border-left: 2px solid $warning
        top: 50%
        bottom: 0
        max-height: 500px
        max-width: 500px


