.section10
    color: white
    border-top:  1px solid #cda55f68
    border-bottom:  1px solid #cda55f68
    
    input
        border-radius: none
        background: black
        border: 1px solid #cda55f68
        ::placeholder
                color:#cda55f68

    
