.card1
    background: url(../../../public/img/chefs/chefs-1.jpg)
    background-size: cover
    height: 50vh
    width: 50vw

.card2
    background: url(../../../public/img/chefs/chefs-2.jpg)
    background-size: cover
    height: 50vh
    width: 50vw


.card3
    background: url(../../../public/img/chefs/chefs-3.jpg)
    background-size: cover
    height: 50vh
    width: 50vw

