.section10
    color: white
    border-top:  1px solid #cda55f68
    border-bottom:  1px solid #cda55f68
    input
        border-radius: none
        background: black
        border: 1px solid #cda55f68
        ::placeholder
                color:#cda55f68

// .icon
//     display: flex
//     flex-direction: row
//     justify-content: center
//     align-content: flex-start

    // .light
    //     border: 2px solid #CDA45F
    //     height: 15px
    //     width: 15px
    //     border-radius: 50%
    //     background-color: #CDA45F

    
